        /* If you are wondering why I have the background-color of <body> set to white here, like the default site background-color is  white.. what's the point of it?.. well.. don't wonder.*/
        
        body {
            background-color: #ffffff;
        }
        /* This code is to center the avatar of mine at the veery top of my site*/
        
        .center1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 2%
        }
        /* This code is to center the avatar of mine at the "Tamimplayz, Entertaining YouTube Since 2019" heading in my site*/
        
        .center2 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            size: 10px;
        }
        /* The next codes are to style the Home, About, Socials and Contact links you can see at the top of my site*/
        
        .topnav {
            background-color: #3e3a71;
            overflow: hidden;
        }
        
        .topnav a {
            display: block;
            float: left;
            color: #ffffff;
            margin-left: 48%;
            margin-right: 30%;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .topnav a:hover {
            background-color: #ffffff;
            color: #3e3a71;
        }
        /* This is the end of codes styling the Home, About, Socials and Contact links you can see at the top of my site*/
        /*This styles the "Tamimplayz, Entertaining YouTube Since 2019" heading in my site*/
        
        .info {
            text-align: center;
            color: #3e3a71;
            font: 15px Arial, sans-serif;
            font-size: 14px;
            background-color: #c9a9ff;
            height: 100%;
        }
        /*This styles the "Welcome to this site!" section in index.html*/
        
        .welcomesite {
            text-align: center;
            color: #3e3a71;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles the link to About.html in index.html*/
        
        .aboutlink {
            text-align: center;
            color: #9900ff;
            font: 15px Arial, sans-serif;
            font: bold;
        }
        /*This styles the "This is the most recent video in my channel right now!" part in index.html*/
        
        .recentvid {
            text-align: center;
            color: #3e3a71;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles the <p> element below the "This is the most recent video in my channel right now!"*/
        
        .whelp {
            text-align: center;
            color: #d2d3df;
            font: 15px Arial, sans-serif;
            font-size: 10px;
        }
        /*This styles my About text in About.html*/
        
        .aboutme {
            text-align: center;
            color: #3e3a71;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles my Instagram text in Socials.html*/
        
        .instagram {
            text-align: center;
            color: #AA6772;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles my Reddit Account text in Socials.html*/
        
        .redditacc {
            text-align: center;
            color: #FF7C4D;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles my SubReddit text in Socials.html*/
        
        .redditsub {
            text-align: center;
            color: #FF7C4D;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles my Twitch Channel text in Socials.html*/
        
        .twitch {
            text-align: center;
            color: #886ABC;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles my Twitter Feed text in Socials.html*/
        
        .twitter {
            text-align: center;
            color: #00d9ff;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles my Discord Server text in Socials.html*/
        
        .discord {
            text-align: center;
            color: #8B9AE0;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles my Facebook Page link Text Socials.html*/
        
        .facebook {
            text-align: center;
            color: #1100ff;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }
        /*This styles the links you can contact me at in Contact.html*/
        
        .contactlinks {
            text-align: center;
            color: #9900ff;
            font: 28px Arial, sans-serif;
        }
        /*This styles the footer of my site*/
        
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #3e3a71;
            color: #ffffff;
            text-align: center;
            font-size: 15px;
        }
        /*This styles the footer's "000webhost.com" link of my site*/
        
        .webhostlink {
            text-align: center;
            color: #9900ff;
            font: 15px Arial, sans-serif;
            font-size: 15px;
            font: bold;
        }
        /* The next codes are to style the scrollbar of my site */
        /*Opening CUSTOMSCROLLBAR.TXT*/
        
         ::-webkit-scrollbar {
            width: 20px;
        }
        
         ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar-thumb {
            background: #3e3a71;
            border-radius: 10px;
        }
        /*Closing CUSTOMSCROLLBAR.TXT*/
        /* This is the end of scrollbar styling of my site */
        /* This styles the announcement section in index.html*/
        
        .announcement {
            text-align: center;
            color: #3e3a71;
            font: 15px Arial, sans-serif;
            font-size: 25px;
        }